@media screen and (orientation: landscape){
    #video {
        width:32vw;
        height:32vh;
    }
}

@media screen and (orientation: portrait){
    #video {
        width:32vw;
        height:32vh;
    }
}

#player {
    background-color:#333;
    width:101vw;
    height:101vh;
    transform:translate(-1vw, -1vh);
}
