body {
    font-family:"Tiny5";
    color: #f3f3f3;
}

@media screen and (orientation: landscape){
    #video {
        width:90vw;
        height:80vh;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        top:120%;
        border:#BBE9FF 4px solid;
        z-index:100;

    }

    #landscapeMargin {
        width:100vw;
        height:30vh;
        background-color:#606676;
        position:absolute;
        top:210%;
        text-align:center;
    }

    #landText {
        font:"Tiny5";
        color:#333;
 

    }

    #movieOrShow {
        position:absolute;
        top:20%;
        font-family:"Tiny5";
        color:#fff;
        left:50%;
        width:60vw;
        height:12vw;
        z-index:-1;
        transform:translateX(-50%);
    }



    #imdbID {
        color:#f3f3f3;
        font-size:3vw;
        font-family:"Tiny5";
        position:absolute;
        z-index:100;
    }
    
    #info {
        width: 75vw;
        height: 20vh;
        font-size: 15px;
        text-align: center;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 87%;
        background-color:#606676;
        transform: translateX(-50%);
        overflow: scroll;
        padding-bottom:15vh;
        font-family:"Tiny5";
    
    }
    
    .seasonDis {
        font-size: 1rem;
        width:12vw;
        height:5vh;
        margin-right:2%;
        text-align: center;
        background-color:#BBE9FF;
        border:none;
        border-radius:15px;
        color:#333;
        font-family:"Tiny5";
    }
    
    .episodeBtn {
        width:8vw;
        height:4vh;
        margin-right:1%;
        margin-top:1%;
        background-color:#FEF3E2;
        border:none;
        border-radius:15px;
        font-family:"Tiny5";
        color:#333;
    }
    
    #seasonDiv {
        width:73vw;
        height: 20vh;
        background-color:#606676;
        position:absolute;
        left:1vw;
        top:1vh;
        overflow:scroll;
    }
    
    #seasonsPlace {
        position:absolute;
        top:79%;
        left:50%;
        transform:translateX(-50%);
        width:73vw;
        height:6vh;
        white-space: nowrap;
        overflow:scroll;
    }
    
    .searchResult {
        background:none;
        border:none;
        background-color:#BBE9FF;
        color:#333;
        width:56vw;
        height:5vh;
        margin-left:2vw;
        margin-top:1vw;
        font-family:"Tiny5";
    }
    
    #searchInput {
        position:absolute;
        top:35%;
        height:6vh;
        width:40vw;
        left:15%;
        font-family:"Tiny5";
    
    }
    
    
    #searchButton {
        position:absolute;
        left:62%;
        top:35%;
        width:20vw;
        height:7vh;
        background:none;
        border:none;
        background-color: #BBE9FF;
        color:#333;
        font-family:"Tiny5";
    }
    
    #searchButton:hover, #searchButton:active {
        background-color:#B1AFFF;
    }
    
    .searchResult:hover, .searchResult:active {
        background-color:#B1AFFF;
    }
    
    #resultsContainer {
        position:absolute;
        top:50%;
        width:60vw;
        height:15vh;
        font-family:"Tiny5";
        overflow:scroll;
        background-color:#4c515e;
        left:50%;
        transform:translateX(-50%);
        border-radius:15px;
    }
    
    #movie, #show, #vidsrc, #multiembed {
        position:absolute;
        width:25vw;
        height:20%;
        background-color:#FEF3E2;
        border:#BBE9FF solid 3px;
        font-family:"Tiny5";
    }
    
    #movie:disabled, #show:disabled, #vidsrc:disabled, #multiembed:disabled {
        border:#EF5A6F solid 2px;
        background-color:#e8decf;
        color:#555;
    }
    
    #movie {
        left:5%;
        top:10%;
    }
    
    #show {
        right:5%;
        top:10%;
    }
    
    #vidsrc {
        bottom:45%;
        left:5%;
    }

    #multiembed {
        bottom:45%;
        right:5%;
    }
    
    #season, #episode {
        position:absolute;
        top:85%;
        width:14vw;
        height:3vh;
    }
    
    #season {
        left:30%;
    }
    
    #episode {
        right:30%; 
    }
    
    #play {
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        top:70%;
        width:15vw;
        height:4vh;
        font-family:"Tiny5";
        background:none;
        border:none;
        background-color:#EF5A6F;
        color:#333;
        border-radius:5px;
    }
    
    #play:hover, #play:active {
        background-color:#d84f61;
    }
    
    #title {
        position:absolute;
        top:5%;
        left:50%;
        background-color:#BBE9FF;
        border-radius:15px;
        width:80vw;
        height:10vh;
        text-align:center;
        color:#333;
        transform:translateX(-50%);
    }
    
    #titleText {
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        color:#333;
    }
}

@media screen and (orientation: portrait){
    #video {
        width:90vw;
        height:32vh;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        top:46%;
        border:#BBE9FF 4px solid;
    }

    #movieOrShow {
        position:absolute;
        top:12.5%;
        font-family:"Tiny5";
        color:#fff;
        left:50%;
        width:60vw;
        height:16vw;
        z-index:-1;
        transform:translateX(-50%);
    }


    #imdbID {
        color:#f3f3f3;
        font-size:3vw;
        font-family:"Tiny5";
        position:absolute;
        z-index:100;
    }

    #info {
        width: 75vw;
        height: 10vh;
        font-size: 15px;
        text-align: center;
        color: #fff;
        position: absolute;
        left: 54%;
        top: 90%;
        background-color:#243443;
        transform: translateX(-50%);
        overflow: scroll;
        padding-bottom:15vh;
        font-family:"Tiny5";
        z-index:-2;
    
    }
    
    .seasonDis {
        font-size: 1rem;
        width:12vw;
        height:3vh;
        margin-right:2%;
        text-align: center;
        background-color:#e56a49;
        border:none;
        border-radius:5px;
        color:#333;
        font-family:"Tiny5";
    }
    
    .episodeBtn {
        width:10vw;
        height:4vh;
        margin-right:4px;
        margin-top:4px;
        background-color:#e9bc83;
        border:none;
        font-family:"Tiny5";
        color:#333;
        border-radius:5px;
    }
    
    #seasonDiv {
        width:73vw;
        height: 20vh;
        background-color:#243443;
        position:absolute;
        left:1vw;
        top:5px;
        display:flex;
        flex-wrap:wrap;
        justify-content:top;
        align-items:center;
        overflow:scroll;
    }
    
    #seasonsPlace {
        position:absolute;
        top:90%;
        left:50%;
        transform:translateX(-50%);
        width:73vw;
        height:5vh;
        white-space: nowrap;
        overflow:scroll;
    }
    
    .searchResult {
        background:none;
        border:none;
        background-color:#BBE9FF;
        color:#333;
        width:46vw;
        height:5vh;
        margin-left:2vw;
        margin-top:1vw;
        font-family:"Tiny5";
    }
    
    #searchInput {
        position:absolute;
        top:22%;
        height:3vh;
        width:40vw;
        left:15%;
        font-family:"Tiny5";
    
    }
    
    #searchButton {
        position:absolute;
        left:62%;
        top:22%;
        width:20vw;
        height:4vh;
        background:none;
        border:none;
        background-color: #BBE9FF;
        color:#333;
        font-family:"Tiny5";
    }
    
    #searchButton:hover, #searchButton:active {
        background-color:#B1AFFF;
    }
    
    .searchResult:hover, .searchResult:active {
        background-color:#B1AFFF;
    }
    
    #resultsContainer {
        position: absolute;
        top: 28%;
        width: 85vw;
        height: 18vh;
        font-family: "Tiny5";
        overflow:scroll;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        transform: translateX(-50%);
        border-radius: 15px;
        background-color: #4c515e;
    }
    
    #movie, #show, #vidsrc, #multiembed {
        position:absolute;
        width:25vw;
        height:32%;
        background-color:#FEF3E2;
        border:#BBE9FF solid 3px;
        font-family:"Tiny5";
    }
    
    #movie:disabled, #show:disabled, #vidsrc:disabled, #multiembed:disabled {
        border:#EF5A6F solid 2px;
        background-color:#e8decf;
        color:#555;
    }
    
    #movie {
        left:5%;
        top:15%;
    }
    
    #show {
        right:5%;
        top:15%;
    }
    
    #vidsrc {
        bottom:15%;
        left:5%;
    }

    #multiembed {
        bottom:15%;
        right:5%;
    }

    #season, #episode {
        position:absolute;
        top:85%;
        width:14vw;
        height:3vh;
    }
    
    #season {
        left:30%;
    }
    
    #episode {
        right:30%; 
    }
    
    #play {
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        top:83%;
        width:15vw;
        height:4vh;
        font-family:"Tiny5";
        background:none;
        border:none;
        background-color:#EF5A6F;
        color:#333;
        border-radius:5px;
    }
    
    #play:hover, #play:active {
        background-color:#d84f61;
    }
    
    #title {
        position:absolute;
        top:2vh;
        left:50%;
        background-color:#BBE9FF;
        border-radius:15px;
        width:80vw;
        height:10vh;
        text-align:center;
        color:#333;
        transform:translateX(-50%);
    }
    
    #titleText {
        color:#333;
    }
}

#player {
    background-color:#606676;
    width:101vw;
    height:101vh;
    position:fixed;
    top:0;
    left:0;
    overflow:scroll;
}

#popup {
    width:90vw;
    height:60vh;
    background-color:#4c515e;
    border:#EF5A6F 5px solid;
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    z-index:150;
    text-align:center;
}

a {
    color:#BBE9FF;
}

a:active {
    color:#B1AFFF;
}

#killPopup {
    color:#EF5A6F;
    text-decoration: underline;
    background:none;
    border:none;
    font-family: "Tiny5";
    font-size:2rem;
    position:absolute;
    bottom:20%;
    left:50%;
    transform:translateX(-50%);
}

#home {
    width:4vw;
    height:8vh;
    background:none; border:none;
    background-color:#BBE9FF;
    color:#333;
    font-size:2rem;
    font-family:"Tiny5";
    position:absolute;
    left:5%;
    top:50%;
    transform:translateY(-50%);
}